
@{
    ViewData["Title"] = "GetdetailScat";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<h1>GetdetailScat</h1>
@section head{
    <style type="text/css">
        body {
            background-image: url('/image/gk1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
    </style>
}

