@{
    ViewData["Title"] = "Home Page";
}

@section head{
    <style type="text/css">
        body {
            background-image: url('/image/gk.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
    </style>
}

<div class="text-center">
    <h1 class="display-4">Welcome to SPAN BANK</h1>
</div>
