
@{
    ViewData["Title"] = "Password Changed";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<h3>Password Changed successfully !!</h3>

<div>
    <input type="button"
           value="Back"
           onclick="location.href='@Url.Action("Index","Dashboard")'" />
</div>


